
.CP_Main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}
.CP_PwChangeH2{
    font-size: 30px;
    font-weight: bold; /* 굵은 폰트 무게는 그라데이션을 더 눈에 띄게 할 수 있습니다 */
    background: linear-gradient(to right, #9E00FF, #FF00E3); /* 보라색에서 분홍색으로의 그라데이션 */
    -webkit-background-clip: text; /*  텍스트에 배경을 클립합니다 (WebKit 브라우저)  */
    background-clip: text; /* 표준 구문이지만 지원이 제한될 수 있습니다 */
    -webkit-text-fill-color: transparent; /*  WebKit 브라우저에서 텍스트 색상을 투명하게 만듭니다*/
    color: transparent;
    display: inline;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.CP_passwordBox {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.CP_inputcontainer{
    margin-top: 10px;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 30px;
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.CP_inputcontainer1{
    margin-top: 10px;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 30px;
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.CP_inputcontainer2{
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 30px;
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}
.CP_btn{
    background: linear-gradient(to right, #9E00FF, #FF00E3);
    border-radius: 40px;
    margin-left: 5px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
    border: none;
}
.MP_X{
    width: 15px;
    height: 25px;
    margin-left: 10px;
    margin-top: 13px;
}
.CP_img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}